.container {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  height: 100%;
  background-color: #FFFFFE;
  padding: 30px 20px;
  max-width: 500px;
}

.searchContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFE;
  margin-top: 2rem;
}

.searchInput{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.15rem;
  margin-right: 10px;
  background-color: #bebdbd;
  color: black;
}

.searchButton{
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  /* background-color: #332525; */
  background-color: #FFFFFE;
  cursor: pointer;
}

.weatherContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 3rem;
}

.weather{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.weatherIcon{
  width: 120px;
  height: 120px;
  margin-bottom: 2rem;
}

.weatherIcon img{
  width: 100%;
  height: 100%;
}

.weatherInfo{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  gap: 1rem;
}

.temperature{
  font-size: 5rem;
  font-weight: 200;
  color: rgb(22, 20, 20);
}

.description{
  font-size: 1.15rem;
  color: rgb(22, 20, 20);
}

.formattedTime{
  font-size: 1.15rem;
  color: rgb(22, 20, 20);
}

.divider{
  width: 80%;
  height: 1px;
  background-color: #d3d3d3;
  margin: 2rem auto;
}

.cloudyStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  color: rgb(22, 20, 20);
}

.extraInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;

}

.infoItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  color: rgb(22, 20, 20);
}

.cityNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  height: 5rem;
  background: linear-gradient(rgba(194, 67, 62, 0.623), rgba(179, 179, 179, 0.63)), url(../assets/cityBg.jpg) center / cover no-repeat;
  border-radius: 10px;
  overflow: hidden;
  place-self: center;
  margin-top: 1rem;
}

.cityName{
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.countryName{
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

@media screen and (width >= 768px){
  .container {
    padding: 30px 2rem;
  }
}