.appContainer{
  width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
  margin: auto;
  border: 5px;
  padding: 2rem 1rem;
  background: #D6D7DA;
}

.innerContainer{
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  background: #F5F5F7;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

@media screen and (width >= 768px){

  .appContainer{
    padding: 4rem 8rem;
  }

  .innerContainer {
    grid-template-columns: 1fr 2fr;
  }
}

